# Source and config files
.vscode/**
.vscode-test/**
src/**
build/**
.git/**
.github/**
node_modules/**
test/**
out/test/**

# Config files
.gitignore
.yarnrc
.prettierrc
.prettierignore
.cursorignore
**/tsconfig*.json
**/.eslintrc.json
**/eslint.config.mjs

# Development files
package-lock.json
**/*.map
**/*.ts
**/*.test.js
**/*.spec.js
**/.npmignore

# Keep only necessary files
!out/extension.js
!out/webview/bundle.js
!out/webview/bundle.css
!out/sql-wasm.wasm
!images/icon.png

# Documentation
*.ps1
**/*.md
!README.md

# Build artifacts
**/*.vsix
bin/**/*.vsix